---

###############################################################################
# Kolla feature flag configuration.

kolla_enable_ironic_inspector: false
kolla_enable_ironic_dnsmasq: false

###############################################################################
# Ironic configuration.

# Specify the list of hardware types to load during service initialization.
kolla_ironic_enabled_hardware_types: 
  - redfish

# Specify the list of boot interfaces to load during service initialization.
kolla_ironic_enabled_boot_interfaces:
  - redfish-virtual-media
  - redfish-https
  - ipxe

# Default boot interface to be used for nodes that do not have boot_interface
# field set.
kolla_ironic_default_boot_interface: redfish-virtual-media

# Specify the list of inspect interfaces to load during service initialization.
kolla_ironic_enabled_inspect_interfaces:
  - redfish
  - agent

# Default inspect interface to be used for nodes that do not have
# inspect_interface field set.
kolla_ironic_default_inspect_interface: redfish

# Specify the list of management interfaces to load during service
# initialization.
kolla_ironic_enabled_management_interfaces:
  - redfish

# Specify the list of network interfaces to load during service initialization.
kolla_ironic_enabled_network_interfaces:
  - neutron
  - flat
  - noop

# Default network interface to be used for nodes that do not have
# network_interface field set.
kolla_ironic_default_network_interface: neutron

# Specify the list of power interfaces to load during service initialization.
kolla_ironic_enabled_power_interfaces: 
  - redfish
